<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSR - Stupidly Simple Redirect</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SSR - Stupidly Simple Redirect" />
    <meta property="og:url" content="https://ssr.rainwashed.xyz" />
    <meta property="og:image" content="" />
    <meta
      property="og:description"
      content="No account, no logging, no bullshit. Make redirects very easily."
    />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
